parameters:

    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - public
        - routes

    excludePaths:
        - config/database.php

    level: 5

    reportUnmatchedIgnoredErrors: false

    tmpDir: /tmp/phpstan
